@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #93cb52;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #93cb52;
  color: #fff;
}

/* Typography */

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/* Buttons */

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #7ab436;
}

.btn-dark {
  background: #333;
  color: #fff;
}

/* Padding */

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

/* Lists */

.list {
  margin: 0.5rem;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

/* Үндсэн цэс */

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  }

/* Section: Бид юу хийдэг вэ? */
#what .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  }

#what .items .item {
  flex-basis: 30%;
  text-align: center;
  padding: 1rem;
  margin: 0 1rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
    
    
#what .items .item i {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #93cb52;
  }
      
      

/* Section: Бид хэн бэ? */
#who {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  #who div {
  flex-basis: 40%;
  margin: 1rem;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  }    
    

#who .who-img {
  background-image: url("../img/people.jpg");
  }

/* Section: Түншүүд */
#clients .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

#clients .items img {
  width: 150px;
  margin: 1rem;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  }
  #clients .items img:hover {
  filter: grayscale(0%);
  }
  
  